@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: hsl(0, 0%, 95%);
    font-size: 0.9rem;
}
.container{
    background-color: #f4f4f4;
    display: flex;
   min-height: 100vh;
   max-width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
   /* margin: auto;*/
}
.sedans{
    background-color: hsl(31, 77%, 52%);
   display: flex;
   justify-content: center;
   max-width: 25%;
   border: none;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   flex-grow: 1;
}
.suv{
    background-color: hsl(184, 100%, 22%);
    display: flex;
   justify-content: center;
   max-width: 25%;
   flex-grow: 1;
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    display: flex;
   justify-content: center;
   max-width: 25%;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   flex-grow: 1;
}
img{
    margin-top: 2em;
    margin-bottom: 1em;
}
h1{
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin-bottom: 0.8em;
    font-family: unset;
    font-family: "Big Shoulders Display", sans-serif; 
    font-weight: 700;
}
p, button{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 30px;
    width: 65%;
    margin-bottom: 4em;
}
button{
    background-color: hsl(0, 0%, 95%) ;
    border: none;
    border-radius: 70px;
    padding: 1em;
    cursor: pointer;
    width: 50%;
    margin-bottom: 3em;
}
.sedans-button{
    color: hsl(31, 77%, 52%);
}
.suv-button{
    color: hsl(184, 100%, 22%);
}
.luxury-button{
    color: hsl(179, 100%, 13%);
}
.sedans-button:hover{
    background-color: hsl(31, 77%, 52%);
    border: 1px solid white;
    color: white;
}
.suv-button:hover{
    background-color: hsl(184, 100%, 22%);
    border: 1px solid white;
    color: white;
}
.luxury-button:hover{
    background-color: hsl(179, 100%, 13%);
    border: 1px solid white;
    color: white;
}
.text-class{
    padding-left: 2em;
    width: 120%;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 2em;
 }
    
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

 @media  (max-width: 750px) {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
          /*  justify-items: center;*/
            justify-content: center;
            margin: 2em auto;
            max-width: 500px;
        }
        p{
            width: 90%;
            margin-bottom: 2em;
        }
        .sedans{
            max-width: 80%;
            border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
        }
        .suv{
            max-width: 80%;
        }
        .luxury{
            max-width: 80%;
            border-top-left-radius: 0;
   border-top-right-radius: 0;
            border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
        }
    }


   
@media screen and (min-width: 751px) and (max-width: 1024px){
        .container{
            display: flex;
            max-width: 100%;
            max-height: 100vh;
            align-items: center;
            justify-items: center;
            justify-content: center;
        }
        .sedans{
            display: flex;
            max-width: 25%;
        }
        .suv{
            display: flex;
            max-width: 25%;
        }
        .luxury{
            display: flex;
            max-width: 25%;
        }
        .text-class{
            padding-left: 2em;
           /* width: 90%;
            margin: auto;*/
        }
     }